
body {
    background-color: rgb(0, 27, 41);
    color: rgb(255,255,255);
    font-family: 'Roboto Mono', monospace;

}

.container {
    position: relative;
}


.header {
    position: relative;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    text-align: center;
}

.header ul {
    text-decoration: none;
    list-style-type: none;
}

.header h1 {
    font-size: 3em;
}

.header a {
  font-size: 1.25em;
  margin: 2px;
  color: rgb(255,255,255);
  text-decoration: none;
}



.main {
    position: relative;
    top: 100%; /* Places it right below the header */
    left: 0%; /* Adjusted to move it to the left */
    text-align: center;
    width: 100%;
}

.iframe_div {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh; 
}

.fox_div{
    position: absolute;
    top: 10%;
    left: 75%;
    width: 20%;
    top: 0%;
    height: 100vh; 
}

.main iframe {
    position: relative;
    left: 0%;
    border: 0px;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.main_text {
  border: 2px solid white;
  padding: 5px;
  max-width: 70%;
  width: fit-content; 
}


.fox_div img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto; /* This ensures the image scales with its parent container */
  height: auto; /* This ensures the image scales with its parent container */
}

#twitter{
   content:url("/icons/twitter.svg");
}

#twitter:hover {
   content:url("/icons/twitter_better.svg");
}
