@import "/commons/style.css";
/* .main is a part of /commons/style.css */
/* for some reason, removing this breaks everything */
.main {
  position: absolute;
  top: 100%;
  left: 0%;
  text-align: left;
  width: 100%;
  height: 70vh;
}
.julis_side {
  align-content: left;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 50%;
  height: 100%;
}
.idios_side {
  text-align: center;
  align-content: right;
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
}
.button {
  font-family: "Roboto Mono", monospace;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  font-family: "Roboto Mono", monospace;
  background-color: #006384;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 100%;
}
