body {
     background-color: rgb(0, 27, 41);
     color: rgb(255,255,255);
     font-family: 'Roboto Mono', monospace;
}
 .container {
     position: relative;
}
 .header {
     position: relative;
     left: 50%;
     top: 0%;
     transform: translateX(-50%);
     text-align: center;
}
 .header ul {
     text-decoration: none;
     list-style-type: none;
}
 .header h1 {
     font-size: 3em;
}
 .header a {
     font-size: 1.25em;
     margin: 2px;
     color: rgb(255,255,255);
     text-decoration: none;
}
 .button {
     font-family: 'Roboto Mono', monospace;
     background-color: #008CBA;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
 .button:hover {
     font-family: 'Roboto Mono', monospace;
     background-color: #006384;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
 .main {
     position: relative;
     top: 100%;
    /* Places it right below the header */
     left: 0%;
    /* Adjusted to move it to the left */
     text-align: center;
     width: 100%;
}
 #twitter{
     content:url("/icons/twitter.svg");
}
 #twitter:hover {
     content:url("/icons/twitter_better.svg");
}
 .footer {
     position: absolute;
     bottom: 0px;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
}